@font-face {
    font-family: 'Clear Sans';
    src: url('assets/fonts/ClearSans-Thin-webfont.woff') format('woff');
    font-weight: thin;
    font-style: normal;
}

@font-face {
    font-family: 'Clear Sans';
    src: url('assets/fonts/ClearSans-Light-webfont.woff') format('woff');
    font-weight: light;
    font-style: normal;
}

@font-face {
    font-family: 'Clear Sans';
    src: url('assets/fonts/ClearSans-Italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Clear Sans';
    src: url('assets/fonts/ClearSans-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Clear Sans';
    src: url('assets/fonts/ClearSans-Medium-webfont.woff') format('woff');
    font-weight: medium;
    font-style: normal;
}

@font-face {
    font-family: 'Clear Sans';
    src: url('assets/fonts/ClearSans-MediumItalic-webfont.woff') format('woff');
    font-weight: medium;
    font-style: italic;
}

@font-face {
    font-family: 'Clear Sans';
    src: url('assets/fonts/ClearSans-BoldItalic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Clear Sans';
    src: url('assets/fonts/ClearSans-Bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

