@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  li,
  span,
  button {
    @apply text-gray-900  dark:text-white;
  }

  h1,
  h2 {
    @apply font-bold text-gray-900 dark:text-white;
  }

  h3,
  h4,
  h5,
  h6 {
    @apply font-medium text-gray-900 dark:text-white;
  }

  h1 {
    @apply text-4xl leading-loose;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }



button {
  @apply capitalize
}


  textarea {
    @apply rounded-md;
    @apply resize-none;
  }

  label {
    @apply text-gray-500;
    @apply text-sm;
  }

  select {
    @apply border-gray-300;
    @apply rounded-full;
    @apply px-4 py-3;
  }
}

@layer components {
  @responsive {
    .text-shadow {
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.10);
    }

    .text-shadow-md {
      text-shadow: 0 4px 8px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.08);
    }

    .text-shadow-lg {
      text-shadow: 0 15px 30px rgba(0, 0, 0, 0.11), 0 5px 15px rgba(0, 0, 0, 0.08);
    }

    .text-shadow-none {
      text-shadow: none;
    }
  }
}

body {
  margin: 0;
  font-family: 'SF Pro Display', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  line-height: 1.6;
  @apply bg-white dark:bg-gray-900;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  min-height: 100vh;
}

.anticon {
  @apply inline-flex items-center justify-center;
}
